.homeSection {
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080c14;
}

.blueLine {
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg, #00489b 0%, #099ef3 100%);
}

.projectsSection {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
}

.blueCircle {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
